/* Inline styles for Login component (Login.js) */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure the form takes the full height of the viewport */
  background-color: #007bff; /* Blue background color */
}

h2 {
  margin-bottom: 20px;
  color: #fff; /* White text color for the heading */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(
    255,
    255,
    255,
    0.9
  ); /* Semi-transparent background for the form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input,
select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  appearance: none;
  background: transparent;
}

button {
  padding: 10px;
  background-color: #fff; /* White background color for the button */
  color: #007bff; /* Blue text color for the button */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0; /* Light gray background color on hover */
}

p {
  margin-top: 10px;
  color: #fff; /* White text color for the "Don't have an account?" message */
}

p a {
  color: #fff;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
